
[user]
    name  = Verdana Mu
    email = verdana.cn@gmail.com
[core]
    #autocrlf = true
    editor = vim
[alias]
    br   = branch
    ci   = commit
    cia  = commit --amend
    cii  = commit --interactive
    co   = checkout
    desc = describe --always --contains --all
    last = log -l HEAD
    me   = merge
    one  = log --oneline --graph --decorate
    rs   = remote show
    rso  = remote show origin
    sc   = stash clear
    sd   = stash drop
    sp   = stash pop
    ss   = stash save
    st   = status
    un   = reset HEAD --
[color]
    ui = true
[man]
    viewer = eman
[diff]
    submodule = log
    tool      = vimdiff
[url "git@github.com:verdana/"]
    insteadof = verdana@gh/
[push]
	default = simple
[filter "dater"]
	smudge = ~/.bin/git-expand-date
	clean = perl -pe \"s/\\\\\\$Date[^\\\\\\$]*\\\\\\$/\\\\\\$Date\\\\\\$/\"
