
[user]
    name  = Verdana
    email = verdana.cn@gmail.com

[core]
    editor = vim
    quotepath = false

[alias]
    br   = branch
    ci   = commit
    cia  = commit --amend
    cii  = commit --interactive
    cim  = commit -a -m
    co   = checkout
    cob  = checkout -b
    desc = describe --always --contains --all
    last = log -2 HEAD
    me   = merge
    one  = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    pa   = push --all
    rb   = rebase
    rbi  = rebase -i
    rb5  = rebase -i HEAD~5
    rb10 = rebase -i HEAD~10
    rs   = remote show
    rso  = remote show origin
    sc   = stash clear
    sd   = stash drop
    sl   = stash list
    sp   = stash pop
    ss   = stash save
    st   = status
    un   = reset HEAD --

[color]
    ui   = auto

[color "branch"]
    current = yellow bold
    local   = green bold
    remote  = cyan bold

[color "diff"]
    frag       = magenta bold
    meta       = yellow bold
    new        = green bold
    old        = red bold
    whitespace = red reverse

[color "status"]
    added     = green bold
    changed   = yellow bold
    untracked = red bold

[diff]
    submodule = log
    tool      = vimdiff

[pull]
	rebase = true

[push]
	default = simple

[credential]
	helper = cache --timeout=3600

[i18n]
    commitEncoding = utf-8
    logoutputencoding = utf-8

