
# 忽略以下的文件或者目录
*.bz2
*.gz
*.tgz
*.xz

.config/htop/
.ssh/
.zsh/data/

build/**/pkg/
build/**/src/

.vim/bundle/Emmet.vim/
.vim/bundle/bufexplorer.zip/
.vim/bundle/c.vim/
.vim/bundle/ctrlp.vim/
.vim/bundle/nerdtree/
.vim/bundle/nginx.vim/
.vim/bundle/snipmate.vim/
.vim/bundle/tabular/
.vim/bundle/vim-coffee-script/
.vim/bundle/vim-colors-solarized/
.vim/bundle/vim-javascript/
.vim/bundle/vim-less/
.vim/bundle/vim-twig/
.vim/bundle/vimux/
.vim/bundle/vundle/


.vim/.netrwhist
