.netrwhist
coc/
composer/
configstore/
dlv/
fish/fish_history
fish/fish_variables
fish/fishd.*
fish/functions/_pure_*.fish
fish/functions/fish_*.fish
fish/functions/theme-pure/
htop/
nvim/plugged/
pip/
pulse/
psysh/
valet/
yarn/
